<div class="md:py-20 xl:px-42 md:px-20 px-4 py-5 flex flex-col items-center md:items-start">
  <h1 class="text-4xl font-bold pb-6 text-center md:text-start">
    {{ tSer.translate('projetosParticipados') }}
  </h1>
  
  <div class="grid-container lg:max-w-300 xl:mx-auto">
    <app-projeto-card
      githubLink="https://github.com/ICEI-PUC-Minas-PMGES-TI/pmg-es-2025-1-ti3-9577100-santo-restauro.git"
      suptitle="Trabalho Interdisciplinar 3"
      title="Santo restauro"
      class="lg:[grid-area:proj1]"
    >
O Santo Restauro é uma aplicação especializada na gestão de acervos de museus, desenvolvida em Python com o framework Django para garantir máxima segurança e escalabilidade. A plataforma centraliza o controle das coleções, permitindo o cadastro detalhado, a edição de metadados históricos e a visualização organizada de cada item, unindo a robustez técnica da linguagem à necessidade de preservação e organização do patrimônio cultural.
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/ng-icons/ng-icons"
      suptitle="Trabalho Interdisciplinar 2"
      title="MasterCar"
      class="lg:[grid-area:proj2]"
    >
A Master Car é um sistema especializado no gerenciamento de vendas para concessionárias, desenvolvido com a robustez da linguagem Java e uma interface intuitiva em HTML e CSS. A plataforma centraliza todo o fluxo comercial, desde o controle de inventário de veículos até a finalização de propostas, utilizando a tipagem forte do Java para garantir transações seguras e um design responsivo que agiliza o atendimento ao cliente e a organização operacional da loja.
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/ng-icons/ng-icons"
      suptitle="Trabalho Interdisciplinar 1"
      title="Finny - Gestão Financeira"
      class="lg:[grid-area:proj3]"
    >
O Finny é um ecossistema de gestão financeira focado no controle rigoroso de gastos e na visualização estratégica de dados através de dashboards interativos. Desenvolvido com o trio fundamental do ecossistema web — HTML, CSS e JavaScript — o sistema transforma registros de despesas em insights visuais em tempo real, utilizando a manipulação dinâmica de elementos via JavaScript para oferecer uma interface ágil, responsiva e totalmente orientada à saúde financeira do usuário.
    </app-projeto-card>
    
    <app-projeto-card
      githubLink="https://github.com/nipimenta/random-number-n8n-onfly.git"
      suptitle="Projeto Estagio Onfly"
      title="Gerador de numeros N8N"
      class="lg:[grid-area:proj4]"
    >
Este projeto utiliza o n8n para automatizar a geração de números de identificação dentro dos processos da Onfly. A ferramenta funciona como um integrador que recebe dados e executa uma sequência lógica de nós para criar e atribuir esses números de forma automática, eliminando o trabalho manual e garantindo que cada registro tenha um identificador exclusivo e organizado.    
</app-projeto-card>
 
<app-projeto-card
      githubLink="https://github.com/nipimenta/PortfolioLab-PUCMG-2026-1.git"
      suptitle="Portfólio Pessoal"
      title="Portfolio Angular"
      class="lg:[grid-area:proj5]"
    >
Este portfólio foi desenvolvido com Angular, utilizando TypeScript para garantir uma estrutura de código organizada e segura. A interface foi construída com HTML e SCSS, aproveitando o poder dos componentes e da estilização modular para criar uma experiência de navegação rápida e responsiva, focada na apresentação limpa de projetos e competências técnicas.
    </app-projeto-card>

  </div>
</div>
